table
{
  margin-top: 2rem;
  min-height: 10rem;
  padding: 2rem;
    width: 100%;
    border-collapse: collapse;
}
tr{
  border-bottom: 1px solid rgb(150, 150, 150);
}
td{
  padding: 1rem;
  text-align: center;
}
.container{
  background-color: rgb(242, 225, 187);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}
